body{
    background-color: rgb(85, 127, 127);
}

*{
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    background-color: aliceblue;
}

p{
   color: bisque !important;
}

.para{
    color: yellow;
}

#special{
    display: block;
    width: 90%;
    margin: 0 auto;}


nav a{
    color: red;
}


@media  (max-width: 1024px){

    body{
        background-color: greenyellow !important;
    }
}

@media  (max-width: 724px){

    body{
        background-color: brown !important;
    }
}



.carousel-item, .carousel{
    width: 800px;
    height: 400px;
}

.carousel-item img{
    width: 100%;
    height: 400px;
}
